# Required settings
NONCE_SECRET=''
REQUESTS_URL='https://knife.media/requests'
TELEGRAM_TOKEN=''
MAILGUN_TOKEN=''
MAILGUN_DOMAIN='mailer.knife.support'
MAILGUN_FROM='Робот Ножа <no-reply@mailer.knife.support>'

# Per action settings
CALLBACK_CHAT='12345678'
CALLBACK_EMAIL='example@example.com,example@example.org'

BRIEF_CHAT=''
BRIEF_EMAIL=''
